*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



body {
    background: linear-gradient(90deg, rgb(72, 70, 84)0% ,  rgb(50, 53, 78)100%);
}

.todo-app{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 520px;
    min-height: 600px;
    background: #191e31;
    text-align: center;
    margin: 120px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    
}

h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input{
    padding: 12px 32px 12px 16px;
    border-radius: 6px 0 0 6px;
    border: 3px solid #a3a3a3;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

.todo-input::placeholder {
    color: #949494;
}

.todo-button {
    padding: 12px;
    border:  3px solid #a3a3a3;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    outline: none;
    background-color: #494949;
    color: #fff;
    text-transform: capitalize;
    margin-left: 5px;
}

.todo-input.edit{
    padding: 12px 32px 12px 16px;
    border-radius: 6px 0 0 6px;
    border: 3px solid #ffffff;
    background-color: #777777;
    color: #080808;
}

.todo-button.edit{
    background: linear-gradient(
    90deg,
    rgb(240, 240, 240) 0%,
    rgb(175, 175, 175) 100%
  );
    color: #191e31;
    padding: 12px 15px 12px 15px;
    border-radius: 0 6px 6px 0;
    border: 3px solid #ffffff;
    margin-left: 5px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-raw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
    90deg,
    rgb(104, 103, 103) 0%,
    rgb(132, 106, 228) 100%
  );
    padding: 12px 32px 12px 16px;
    border-radius: 6px;
    width: 70%;
}

.todo-raw:nth-child(4n+1){
    background: linear-gradient(
    90deg,
    rgb(119, 119, 120) 0%,
    rgb(87, 79, 160) 100%
  );
}

.todo-raw:nth-child(4n+2){
    background: linear-gradient(
    90deg,
    rgb(113, 113, 113) 0%,
    rgb(70, 66, 116) 100%
  );
}

.todo-raw:nth-child(4n+3){
    background: linear-gradient(
    90deg,
    rgb(102, 103, 104) 0%,
    rgb(60, 81, 108) 100%
  );
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 5px;
    color: #fff;
}

.edit-icon {
    color: #fff;
}












